html,
body {
  font-family: 'Arial', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #f5f6fa;
}

h1, h2, h3, p {
  color: #344761 !important;
}

.h1-color {
  color:#1c1c1e
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #1c1c1e;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #1c1c1e;
}

::-webkit-scrollbar-thumb {
  background-color: #1c1c1e44;;
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

nav {
  background-color: #ffffff;
  padding: 1rem 1rem;
}

.navbar {
  padding: 1rem 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

#search_btn {
  background-color: #f0efeb ;
}

.input-group {
  width: 90%;
  margin-right: 35%;
}

#search_field {
  height: 2.4rem;
  padding: 1rem;

}

/* Login page */

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_card{
  margin-top: 150px;
  padding: 30px;
  border-radius: 0.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.login_button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px; 
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login_button:hover {
  background-color: #5a6268;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}



#login_btn,
#logout_btn,
#view_btn,
#new_review_btn {
  background-color: #f0efeb;
  padding: 0.4rem 1.8rem;
  color: rgb(0, 0, 0);
}

#cart {
  font-size: 1rem;
  color: white;
}

#cart_count {
  background-color: #f0efeb;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Home page */

.title h1 {
  font-size: 6rem;
  margin-bottom: 10px;
  text-align: center;
}

.title h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}


.container {
  display: flex;
  justify-content: space-around;
}

.rowmain {
  display: flex;
  gap: 80px;
}

.card {
  width: 200px;
  height: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: background-color 0.3s ease;
  align-items: flex-start;
}

#cardclient {
  background-color: #ffe7e7;
}

#cardcoach {
  background-color: #fff3d9;
}

#cardrdv {
  background-color: #e6fae6;
}

.card img {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.card p {
  margin: 5px 0;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.card p:last-child {
  font-size: 16px;
  font-weight: normal;
  color: #666;
}

/* Statistics page */
.statistics-page {
  display: flex;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f8fa;
}

.content {
  flex: 1;
  padding: 20px;
}

.overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.overview-item {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-right: 15px;
}

.overview-item:last-child {
  margin-right: 0;
}

.count {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.percentage {
  font-size: 14px;
  font-weight: 600;
}

.positive {
  color: #28a745;
}

.negative {
  color: #dc3545;
}

.charts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.chart {
  padding: 20px;
}

.chart h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

/* Tips page */
.tips-page {
  padding: 20px;
}

.tip-item {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.tips-page h1 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 3rem;
  margin-bottom: 50px !important;
  color: #333;
}

.tips-page h3 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold !important;
  color: #333;
  padding: 5px;
}


.tip-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.tip-header:hover {
  background-color: #e0e0e0;
}

.tip-header h3 {
  margin: 0;
}

.tip-header span {
  font-size: 12px;
  font-weight: bold;
}

.tip-content {
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  transition: all 0.3s ease;
  border-top : 1px solid #ddd;
}

.tip-content p {
  margin: 0;
}

/* Events page */
.events-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}.events-page {
  padding: 20px;
}

.separator {
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
}

.calendar-section {
  margin-bottom: 20px;
}

.map-section {
  width: 100%;
  height: 400px;
}


h1 {
  font-size: 2rem;
}

hr {
  margin-bottom: 20px;
}

.events-container {
  display: flex;
  justify-content: space-between;
}

.map-section {
  width: 50%;
}

.map-section img {
  width: 100%;
  height: auto;
}

.events-list {
  width: 45%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 300px;
}

.event-card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}

.event-details {
  display: flex;
  flex-direction: column;
}

.event-date {
  display: flex;
  align-items: center;
  font-weight: bold;
}

/* Clothes page */
.garde-robe-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.client-menu {
  margin-bottom: 20px;
}

.carousels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  margin: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.carousel-container {
  display: flex;
  align-items: center;
}

.button-clothes {
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
}

.color-box {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
}


/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #f0efeb;
  border-color: #f0efeb transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Pagination */

.pages {
  padding: 15px;
}

#map {
  width: 400px;
  height: 400px;
  background: #d6d6d6;
}

/* Sidebar styles */

.list-group {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 0 !important;
}

.list-group-item {
  text-decoration: none;
  color: #333;
  margin-bottom: 15px;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
}

.list-group-item:hover {
  background-color: rgb(110, 110, 110);
  transform: scale(1.05);
  color: #fff;
}

.list-group-item.active {
  background-color: rgb(110, 110, 110);
  color: #fff;
}

/* Button-toggle */

.button-toggle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: inline-block;
  padding: 12px 24px;
  background-color: rgb(110, 110, 110);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-toggle:hover {
  background-color: rgb(61, 61, 61);
  transform: scale(1.05);
}

.button-toggle:active {
  transform: scale(0.95);
}

.event-home {
  grid-template-columns: repeat(5, minimax(0, auto));
}

/* Compatibility Style */

.compatibility label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #555;
}

.compatibility select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s;
}

.compatibility select:focus {
  border-color: #007bff;
  outline: none;
}

.compatibility .button_comp {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.compatibility .button_comp:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.compatibility h2 {
  margin-top: 30px;
  font-size: 40px;
  color: #007bff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Page Coaches */
.employees-page {
  display: flex;
  flex-direction: row;
}

.main-content {
  width: 100%;
  padding: 20px;
}

.page-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.page-subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e3e5ee;
}

.export-button {
  padding: 5px 20px;
  background-color: #ffffff;
  color: #344761 !important;
  box-shadow: 0 0 1px #344761;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.export-button img {
  margin-right: 8px;
  height: auto;
  padding-right: 5px;
}

.export-button:hover {
  background-color: #f0f0f0;
}

.add-button {
  padding: 0px 12px;
  background-color: #2263b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}

.add-button:hover {
  background-color: #1a4f9b;
}

.group-button {
  display: flex;
  gap: 10px;
}

.head-content-coaches-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.title-content-coaches {
  display: flex;
  flex-direction: column;
}

.all-content-table {
  background-color: #ffffff;
  border: 2px solid #e3e5ee;
  border-radius: 5px;
  margin: top 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table-header {
  border-bottom: 2px solid #e3e5ee;
  display: flex;
}

.user-table-header-cell {
  padding: 10px;
  font-weight: bold;
  width: 100%;
  color: #344761;
}

.user-table-row {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #e3e5ee;
}

.user-table-cell {
  padding: 10px;
  width: 100%;
  display: flex;
  color: #344761;
}

.avatar-circle {
  width: 40px;
  height: 40px;
  background-color: #2263b3;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-right: 10px;
}

#action-title {
  text-align: end;
}

#action-button {
  justify-content: end;
  font-weight: bold;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.edit-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Search bar */

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-input {
  width: 300px;
  height: 40px;
  padding: 0 10px 0 40px;
  border: none;
  border-radius: 20px;
  background-color: #f0f0f0;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease;
}

.search-input:focus {
  background-color: #e0e0e0;
}

.search-icon {
  margin-left: 10px;
  font-size: 18px;
  color: #888;
}

/* Sort dropdown */

.sort-dropdown {
  position: relative;
  display: inline-block;
}

.sort-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.sort-options {
  position: absolute;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100px;
  z-index: 1;
}

.sort-options li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.sort-options li:hover {
  background-color: #f0f0f0;
}

.group-button-table {
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.button-left-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bulk-action-dropdown {
  display: flex;
  align-items: center;
}

.bulk-action-select {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #e3e5ee;
  border-radius: 4px;
  background-color: #ffffff;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #344761;
}

.bulk-action-button {
  padding: 10px 12px;
  background-color: #2263b3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.bulk-action-button:hover {
  background-color: #1a4f9b;
}

/* Popup */
.form-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-content h2 {
  margin: 0 0 20px;
}

.form-content label {
  display: block;
  margin-bottom: 10px;
}

.form-content input, .form-content select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.form-content button {
  padding: 10px;
  margin: 5px;
}

.form-content button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.form-content button[type="button"] {
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

/* Edit Button */

.actions-dropdown {
  position: relative;
}

.actions-button {
  background: transparent; 
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  padding: 0;
}

.actions-options {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.actions-options li {
  padding: 8px 12px;
  cursor: pointer;
}

.actions-options li:hover {
  background-color: #f0f0f0;
}
