html,
body {
  font-family: 'Arial', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1, h2 {
  font-family: 'Arial', sans-serif;
}

.h1-color {
  color:#1c1c1e
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #1c1c1e;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #1c1c1e;
}

::-webkit-scrollbar-thumb {
  background-color: #1c1c1e44;;
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

nav {
  background-color: #ffffff;
  padding: 1rem 1rem;
}

.navbar {
  padding: 1rem 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

#search_btn {
  background-color: #f0efeb ;
}

.input-group {
  width: 90%;
  margin-right: 35%;
}

#search_field {
  height: 2.4rem;
  padding: 1rem;

}

/* Login page */

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_card{
  margin-top: 150px;
  padding: 30px;
  border-radius: 0.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.login_button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px; 
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login_button:hover {
  background-color: #5a6268;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


#login_btn,
#logout_btn,
#view_btn,
#new_review_btn {
  background-color: #f0efeb;
  padding: 0.4rem 1.8rem;
  color: rgb(0, 0, 0);
}

#cart {
  font-size: 1rem;
  color: white;
}

#cart_count {
  background-color: #f0efeb;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Home page */

.title h1 {
  font-size: 6rem;
  margin-bottom: 10px;
  text-align: center;
}

.title h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}


.container {
  display: flex;
  justify-content: space-around;
}

.rowmain {
  display: flex;
  gap: 80px;
}

.card {
  width: 200px;
  height: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: background-color 0.3s ease;
  align-items: flex-start;
}

#cardclient {
  background-color: #ffe7e7;
}

#cardcoach {
  background-color: #fff3d9;
}

#cardrdv {
  background-color: #e6fae6;
}

.card img {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.card p {
  margin: 5px 0;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.card p:last-child {
  font-size: 16px;
  font-weight: normal;
  color: #666;
}

/* Statistics page */

.container-statistics {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.row-stats {
  display: flex;
  gap: 80px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 70px;
}

.card {
  width: 200px;
  height: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: background-color 0.3s ease;
  align-items: flex-start;
}

#cardclient {
  background-color: #ffe7e7;
}

#cardcoach {
  background-color: #fff3d9;
}

#cardrdv {
  background-color: #e6fae6;
}

.card img {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.card p {
  margin: 5px 0;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.card p:last-child {
  font-size: 16px;
  font-weight: normal;
  color: #666;
}

/* Tips page */
.tips-page {
  padding: 20px;
}

.tips-list {
  max-width: 800px;
  margin: auto;
}

.tip-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  cursor: pointer;
}

.tip-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  background-color: #f5f5f5;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tip-header:hover {
  background-color: #e0e0e0;
}

.tip-header h3 {
  margin: 0;
}

.tip-header span {
  font-size: 24px;
  font-weight: bold;
}

.tip-content {
  padding: 10px 15px;
  background-color: #fafafa;
  border-radius: 0 0 5px 5px;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.tip-content p {
  margin: 0;
}


/* Events page */
.events-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}.events-page {
  padding: 20px;
}

.separator {
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
}

.calendar-section {
  margin-bottom: 20px;
}

.map-section {
  width: 100%;
  height: 400px;
}


h1 {
  font-size: 2rem;
}

hr {
  margin-bottom: 20px;
}

.events-container {
  display: flex;
  justify-content: space-between;
}

.map-section {
  width: 50%;
}

.map-section img {
  width: 100%;
  height: auto;
}

.events-list {
  width: 45%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 300px;
}

.event-card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}

.event-details {
  display: flex;
  flex-direction: column;
}

.event-date {
  display: flex;
  align-items: center;
  font-weight: bold;
}

/* Clothes page */
.garde-robe-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.client-menu {
  margin-bottom: 20px;
}

.carousels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  margin: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.carousel-container {
  display: flex;
  align-items: center;
}

.button-clothes {
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
}

.color-box {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
}


/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #f0efeb;
  border-color: #f0efeb transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Pagination */

.pages {
  padding: 15px;
  margin-left: 150px;
  margin-right: 50px;
  font-family: Arial, sans-serif;
}

.pages.margin-zero {
  margin-left: 50px;
}

.separator {
  border-top: 2px solid #353535;
  margin: 20px 0;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.client-list {
  margin-bottom: 20px;
}

.coach_button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}

.coach_button:hover {
  text-decoration: underline;
}

#map {
  width: 400px;
  height: 400px;
  background: #d6d6d6;
}

/* Sidebar styles */

.list-group {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 0 !important;
}

.list-group-item {
  text-decoration: none;
  color: #333;
  margin-bottom: 15px;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
}

.list-group-item:hover {
  background-color: rgb(110, 110, 110);
  transform: scale(1.05);
  color: #fff;
}

.list-group-item.active {
  background-color: rgb(110, 110, 110);
  color: #fff;
}

/* Button-toggle */

.button-toggle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: inline-block;
  padding: 12px 24px;
  background-color: rgb(110, 110, 110);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-toggle:hover {
  background-color: rgb(61, 61, 61);
  transform: scale(1.05);
}

.button-toggle:active {
  transform: scale(0.95);
}

.user-table {
  display: grid;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.employees .user-table {
  grid-template-columns: repeat(6, minmax(0, auto));
}

.event-home {
  grid-template-columns: repeat(5, minimax(0, auto));
}

.user-table-header,
.user-table-row {
  display: contents;
}

.user-table-header-cell {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  border-left: 1px solid #ddd;
}

.user-table-cell {
  padding: 10px 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ddd;
}

.user-table-cell.user-picture {
  text-align: center;
}

.user-table-cell img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Table Body */
.user-table-body {
  display: contents;
}

/* Rows Styling */
.user-table-row {
  border-bottom: 1px solid #ddd;
}

.user-table-row:nth-child(even) .user-table-cell {
  background-color: #f9f9f9;
}

.user-table-header-cell:first-child {
  border-top-left-radius: 10px;
}

.user-table-header-cell:last-child {
  border-top-right-radius: 10px;
}

.user-table-row:last-child .user-table-cell:first-child {
  border-bottom-left-radius: 10px;
}

.user-table-row:last-child .user-table-cell:last-child {
  border-bottom-right-radius: 10px;
}

/* Customers Page Style */

.customers .selector-container {
  margin: 20px 0;
}

.customers select {
  width: 250px;
  height: 30px;
  border: 2px solid #000000;
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.customers .user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.customers .user-info {
  margin-bottom: 20px;
}

.customers .info-item {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.customers .info-item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.customers .user-image {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  object-fit: cover;
  margin-left: 20px;
}

.customers .tables-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.customers .ta, .customers .tb {
  flex: 1;
  margin: 0 10px;
}

.customers .user-table {
  width: 100%;
  border-collapse: collapse;
}

.customers .user-table-header {
  background-color: #007bff;
  color: #fff;
}

.customers .user-table-header-cell {
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

.customers .user-table-body {
  background-color: #fff;
}

.customers .user-table-row {
  border-bottom: 1px solid #ddd;
}

.customers .user-table-cell {
  padding: 10px 15px;
  text-align: center;
}

.customers .user-table-cell:nth-child(even) {
  background-color: #f9f9f9;
}

.customers h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.ta .user-table {
  grid-template-columns: repeat(3, minmax(0, auto));
}

.tb .user-table {
  grid-template-columns: repeat(4, minmax(0, auto));
}

/* Compatibility Style */

.compatibility label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #555;
}

.compatibility select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s;
}

.compatibility select:focus {
  border-color: #007bff;
  outline: none;
}

.compatibility .button_comp {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.compatibility .button_comp:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


.compatibility h2 {
  margin-top: 30px;
  font-size: 40px;
  color: #007bff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}